// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.backimage {
  margin: 0 auto;
  position: relative;
  background-position: center;
}

.text {
  position: absolute;
  top: 100px;
  right: 65px;
}
