<!--商品詳細-->
<div class="container col-md-10 bg-light ">
  <div class="row">
  







  </div>
<!--ここからカートに商品を追加するための画面-->
  <div class="d-flex justify-content-end">
      <%= form_with model: @cart_item do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <span class="mr-3">
          <%= f.select :amount, options_for_select([["個数選択", ""], *(1..50)]) %>
        </span>
        <%= f.submit "カートに入れる", class: "btn btn-success" %>
      <% end %>
  </div>
</div>